nav #apply-btn {
  background: var(--sec);
  width: 10%;
  font-size: 1.2rem;
  justify-content: space-evenly;
  padding: 0.8rem 0;
  border: 2px solid var(--main);
  border-radius: 46px;
  color: var(--main);
}
.hide {
  display: none;
}
.bars {
  display: none;
}

.get-started {
  width: 30%;
  padding: 0.9rem 0;
  margin: 2rem 0;
  background: var(--main);
  color: var(--sec);
  box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
}

.timer-cards {
  display: grid;
  width: 50%;
  margin-bottom: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(40px, auto));
  gap: 0.3rem;
}

.days,
.hour,
.mins,
.secs {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.15);
  font-size: 1.6rem;
}

.day,
.hor,
.sec,
.min {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vh;
  background: #f4f4f4;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.15);
  font-size: 2rem;
}

.border {
  border-bottom: 3px solid #dde3e9;
}

.fab {
  display: flex;
  font-size: 1.5rem;
  color: #035755;
}

.fa-youtube {
  color: #ff0000;
}
